@import url('https://fonts.cdnfonts.com/css/hero-new');

body {
    background-color: inherit;
    font-size: 18px;
    font-family: "Hero New", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    overflow-x: hidden;
}

header , footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px 10vw 60px 10vw;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3, h1 {
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.header-content {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.fake-header-img {
    background-color: rgb(123, 126, 138);
    color: white;
    width: 600px;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content {
    max-width: 600px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}

button {
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

#header-btn {
    color: white;
    background-color: #3882F6;
    border: solid #3882F6 2px;
}

#header-btn:hover {
    background-color: transparent;
    border: solid white 2px;
}

.info {
    padding: 20px 10vw 30px 10vw;
    height: 50vh;
}

.images {
    display: flex;
    justify-content: space-around;
    padding: 3vh 10vw;
}

figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

figure img {
    border: solid #3882F6 2px;
    border-radius: 5px;
    height: 170px;
    width: 170px;
    flex-shrink: 0;
    align-self: center;
}

figcaption {
    text-align: center;
    font-size: 15px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    margin: auto;
    height: 45vh;
    padding: 5vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 275;
    text-align: left;
}

.last {
    padding: 5vh 10vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

cite {
    font-weight: 700;
}

.cta {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

#cta-btn {
    background-color: transparent;
    border: solid white 2px;
    color: white;
}

#cta-btn:hover {
    color: #3882F6;
    background-color: white;
}

h4 {
    margin-bottom: 0;
}

.cta p {
    margin-top: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Tablet version */
@media screen and (max-width: 985px) {
    header {
        height: 83vh;
    }
    .header-content {
        flex-direction: column;
    }
    .fake-header-img {
        width: 95%;
        height: 30vh;
    }
    .info {
        height: 125vh;
    }
    .images {
        flex-direction: column;
    }
    figure img {
        height: 20vw;
        width: 20vw;
    }
    .quote {
        padding: 5vh 10vw;
    }
    .quote p {
        font-size: 2rem;
    }
}

/* Mobile version */
@media screen and (max-width: 540px) {
    nav {
        font-size: 0.7em;
    }
    header, main {
        height: fit-content;
    }
    .header-content {
        margin: 0px;
    }
    h1 {
        font-size: 2rem;
    }
    .info {
        height: 110vh;
    }
    button {
        width: 95%;
        align-self: center;
        text-align: center;
    }
    .fake-header-img {
        display: none;
    }
    figcaption {
        font-size: 0.6rem;
    }
    .quote {
        padding: 2.5vh 5vw;
    }
    .quote p {
        font-size: 1.2rem;
    }
    .last {
        height: 30vh;
    }
    .cta {
        flex-direction: column;
    }
    footer p {
        font-size: 0.75rem;
    }
}