@import url('https://fonts.cdnfonts.com/css/hero-new');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');

:root {
    --main-bg: rgb(10, 10, 10);
    --lighter-bg: rgb(20, 20, 20);
    --font-color: rgb(229, 231, 235); 
    --logo: rgb(255, 150, 166);
    --shadow: 0px 2px 5px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lighter-bg);
    height: 100%;
    width: 100vw;
    font-size: 18px;
    font-family: "Hero New", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgb(164, 164, 164);
}
::-webkit-scrollbar-thumb {
    background: rgb(120, 120, 120); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100); 
}

header, footer {
    background-color: var(--main-bg);
    color: var(--font-color);
    box-shadow: var(--shadow);
}

p {
    text-align: justify;
}

button {
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}
button:hover {
    cursor: pointer;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    padding: 40px 10vw 20px 10vw;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 25px;
}

li {
    list-style-type: none;
    align-self: center;
}

#logo {
    color: var(--main-bg);
    font-family: 'Hind', sans-serif;
    font-size: 2em;
    filter: drop-shadow(1px 1px 7px var(--logo));
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo:hover {
    cursor: pointer;
}

#rose-logo {
    height: 40px;
    width: 40px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.header-content {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-content img {
    height: 20vw;
    width: auto;
    border-radius: 5px;
    align-self: center;
}

.text-content {
    width: 40vw;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0px;
}

#header-btn {
    color: var(--main-bg);
    background-color: var(--logo);
    border: solid var(--logo) 2px;
}

#header-btn:hover {
    background-color: transparent;
    color: var(--logo);
    border: solid var(--logo) 2px;
}

/* Main - Our products*/
.info {
    color: var(--font-color);
    height: 60vh;
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 10vw;
}

h2 {
    color: var(--font-color);
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 20px;
}

figure {
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
figure:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

figure img {
    border-radius: 5px;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    align-self: center;
}

figcaption {
    text-align: justify;
    line-height: 20px;
    font-size: 0.8em;
    max-width: 200px;
}

.mark {
    color: var(--logo);
    font-family: 'Hind', sans-serif;   
    text-transform: uppercase;
}

/* Main - Testimonial */
.quote {
    background-color: var(--main-bg);
    color: var(--font-color);
    height: 50vh;
    padding: 50px 10vw;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

blockquote p {
    font-size: 1.7em;
    font-style: italic;
    font-weight: lighter;
}

cite {
    color: var(--logo);
    font-weight: 700;
    margin-top: 20px;
}

/* Main - Call to action */
.last {
    padding: 5vh 10vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color: var(--logo);
    color: var(--main-bg);
    border-radius: 5px;
    padding: 10px 30px;
    height: 150px;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#cta-btn {
    background-color: transparent;
    border: solid var(--main-bg) 2px;
    color: var(--main-bg);
}

#cta-btn:hover {
    color: var(--logo);
    background-color: var(--main-bg);
}

h4 {
    margin-bottom: 0;
}

.cta p {
    margin-top: 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Tablet & Small Laptop */
@media screen and (max-width: 1260px) {
    header {
        height: fit-content;
    }
    .header-content {
        justify-content: center;
        align-items: center;
    }
    .header-content img {
        display: none;
    }
    .text-content {
        width: 85vw;
        max-width: 90vw;
    }
    .info, .quote, .last {
        height: fit-content;
        padding: 2em 0;
    }
    .images {
        flex-wrap: wrap;
    }
    figure {
        flex-direction: row;
        margin-bottom: 20px;
    }
    figure:hover {
        transform: scale(1, 1);
    }
    .quote {
        padding: 5vh 10vw;
    }
    .cta {
        height: fit-content;
        padding: 2em 1.5em;
        flex-direction: column;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    header {
        padding: 20px 0px;
        width: 100%;
    }
    nav {
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        gap: 20px;
    }
    h1 {
        font-size: 2rem;
    }
    figure img {
        width: 100px;
        height: 100px;
    }
    .quote {
        font-size: 0.8em;
    }
    button {
        width: 100%;
        align-self: center;
        text-align: center;
    }
    .quote {
        padding: 2.5vh 5vw;
    }
    .cta, footer {
        font-size: 0.9em;
    }
}